{{ define "main" }}
<!-- ABOUT START -->
<div id="about" class="bg-light py-5">
    <div class="container">
        <h3 class="text-center">About</h3>
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3>TealinuxOS</h1>
                <p class="lead">Bahan pilihan untuk racikan nikmat</p>
                <hr class="line-panjang" align="left">
                <hr class="line-pendek" align="left">
            </div>
            <div class="col-md-6 text-right">
                <img class="img-fluid" src="/images/none.png" alt="none">
            </div>
        </div>
    </div>
</div>
<!-- ABOUT END -->

<!-- FITUR START -->
<div id="fitur" class="bg-info">
    <div class="container">
        <h3 class="text-center text-light">Fitur</h3>
        <p class="text-center font-weight-light text-light">Kami sajikan dengan nutrisi yang baik untuk anda</p>
        <section class="slider-area slider mt-5">
            <div class="card pt-5 pb-4 px-4" style="width: 16rem;">
                <div class="card-body">
                    <img class="mb-5" src="/images/none.png" alt="...">
                    <h5 class="card-title font-weight-bold">Bagikan Dengan Teman</h5>
                    <p class="card-text font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card pt-5 pb-4 px-4" style="width: 16rem;">
                <div class="card-body">
                    <img class="mb-5" src="/images/none.png" alt="...">
                    <h5 class="card-title font-weight-bold">Bagikan Dengan Teman</h5>
                    <p class="card-text font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card pt-5 pb-4 px-4" style="width: 16rem;">
                <div class="card-body">
                    <img class="mb-5" src="/images/none.png" alt="...">
                    <h5 class="card-title font-weight-bold">Bagikan Dengan Teman</h5>
                    <p class="card-text font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card pt-5 pb-4 px-4" style="width: 16rem;">
                <div class="card-body">
                    <img class="mb-5" src="/images/none.png" alt="...">
                    <h5 class="card-title font-weight-bold">Bagikan Dengan Teman</h5>
                    <p class="card-text font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- FITUR END -->

<!-- PROMO START -->
<section>
    
    <table>
      <tr>
        <td width="20%"></td>
        <td width="30%"><h3>Lengkapi koleksimu</h3></td>
        <td width="30%"> <!--<img src="img/kosong.png" alt=""> --></td>
        <td width="20%"></td>
      </tr>
      <tr><br>
        <td width="20%"></td>
        <td width="30%"><h3>------------b-----------------</h3></td>
        <td width="30%"> <!--<img src="img/kosong.png" alt=""> --></td>
        <td width="20%"></td>
        
      </tr>
      <tr><br>
        <td width="20%"></td>
        <td width="30%"><h3>------------a------------------</h3></td>
        <td width="30%"> <!--<img src="img/kosong.png" alt=""> --></td>
        <td width="20%"></td>
        
      </tr>
      <tr>
        <td width="20%"></td>
        <td width="30%"><h5>
          <div class="card w-150">
            <div class="card-body">
              <table>
                <td><a href="#" class="btn btn-primary">Button</a></td>
                <td>Lihat toko sekarang</td>
              </table>
              
            </div>
        </div>
     </h5></td>
        <td width="30%"> <!--<img src="img/kosong.png" alt=""> --></td>
        <td width="20%"></td>
        
      </tr>
    </table>
  
    <br><br><br><br><br><br>
    </section>
    <!-- PROMO END -->

    <!-- MASKOT END -->
    <section>
      <font class="text-center">
        <h1>" Nikmati hasil racikan Tealinux OS "</h1>
        <br>
      </font>
  
      <table>
        <tr>
          <td width="42%"></td>
          <td>
             <div class="size-none">
        <center>
          <img src="images/kosong.png" alt=""> 
        </center> 
      </div>
          </td>
          <td></td>
        </tr>
      </table>
    </section>
    <!-- MASKOT END -->
{{ end }}